.container {
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.img {
    border-radius : 50%;
    object-fit: cover;
    border : 1px solid white;
    width: 5rem;
    height: auto;
    cursor: pointer;
}
.name {
    font-size : 16px;
    margin-left : 1rem;
    color : white;
}